<!-- <app-header></app-header> -->
<ng-container>
    <div class="headerContainer">
        <div class="logo" routerLink="/">StudCGPA</div>
        <div class="nav-menu">
            <li class="nav-link"><a routerLink="/registerCourses/{{userId}}">Register Courses</a></li>
            <li class="nav-link"><a routerLink="/calculatecgpa">CalculateCGPA</a></li>
            <li class="nav-link"><a routerLink="/login">Logout</a></li>
    
        </div>
    </div>
</ng-container>
<app-user-hero></app-user-hero>